
.vm2t-icon-tag:before { content: '\0800'; } /* 'ࠀ' */
.vm2t-icon-tags:before { content: '\0801'; } /* 'ࠁ' */
.vm2t-icon-rss:before { content: '\0802'; } /* 'ࠂ' */
.vm2t-icon-folder:before { content: '\0803'; } /* 'ࠃ' */