@charset "utf-8";
/* CSS Document */
.brick{
	float:left;
	width:200px;
	background-color:#f7f7f7;
	text-align:center;
	padding:0 3px 10px 3px;
	margin:4px;
}
.vm2t_product_thumb{
	padding:10px;
	text-align:center;
}

.vm2t_product_text{
	float:left;
	width:70%;
	
}

.vm2t_product_name{
	font-size:24px;
}

.vm2t_product_s_desc{
}

.vm2t_product_cat{
}

.vm2t_product_price{
	text-align:center;
	}
.vm2t-featured{
	
}
#vm2t_rssbuton{
	float:right;
}