/**
 * @copyright	Copyright (C) 2017. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @author		Cedric Keiflin - http://www.template-creator.com - http://www.joomlack.fr
 */


.clr {
	clear: both;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}

.clearfix {
	zoom: 1;
}

.ckwait {
	background: #fff url(../images/ajax-loader.gif) center center no-repeat !important;
}

#ckbrowse {
	position: relative;
}

#ckfoldertreelist, #ckfoldertreepreview {
	float: left;
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
}

#ckfoldertreelist {
	width: 50%;
	position: relative;
}

#ckfoldertreepreview {
	width: 50%;
}

#ckfolderupload {
	border: 4px dashed #b4b9be;
	margin: 10px;
	position: relative;
	min-height: 120px;
	text-align: center;
}

#ckfoldertreelist .ckfoldertreename img {
	margin: 0 5px 0 0;
}

#ckfoldertreelist .ckfoldertreename {
	display: inline-block;
	font-family: Verdana;
	font-size: 1em;
	border: 1px solid transparent;
	padding: 5px;
	cursor: pointer;
}

#ckfoldertreelist .ckfoldertreename:hover {
	border: 1px solid #5F9EA0;
}

#ckfoldertreelist .ckfoldertree.ckcurrent > .ckfoldertreename {
	border: 4px solid #5F9EA0;
	color: #5F9EA0;
}

#ckfoldertreelist .ckfoldertree {
	padding: 0.1em 0.5em;
}

#ckfoldertreelist .ckfoldertreecount {
	display: inline-block;
	font-family: Verdana;
	font-size: 1em;
	padding: 3px 5px;
	background-color: #5F9EA0;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #fff;
	font-size: 1em;
	line-height: 18px;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
	vertical-align: middle;
	border-radius: 2px;
}


#ckfoldertreelist .cksubfolder {
	padding: 0 0.6em;
	border-left: 1px dotted #333;
}

#ckfoldertreelist .ckfoldertreefiles {
	/*padding-left: 4.5em;*/
	position: absolute;
	left: 100%;
	top: 20px;
	width: 100%;
	padding-bottom: 50px;
}

#ckfoldertreelist .ckfoldertreefile {
	padding: 0;
	margin: 8px;
	border: 1px solid #C1C1C1;
	text-align: left;
	background: #eee none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
	width: 120px;
	height: 120px;
	float: left;
	text-align: center;
}

#ckfoldertreelist .ckfoldertreefile:hover {
	border: #5F9EA0 1px solid;
	background-color: #f5f5f5;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: pointer;
	font-size: 13px;
	line-height: 18px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

#ckfoldertreelist .ckfoldertreefile img {
	margin: 0 5px 0 0;
	object-fit: scale-down;
	object-position: center;
	max-width: none;
	height: 100%;
	width: 100%;
}

#ckfoldertreelist .parent:not(.ckopened) > .cksubfolder,
#ckfoldertreelist .ckfoldertree:not(.ckcurrent) > .ckfoldertreefiles {
	display: none;
}


/*#ckfoldertreelist .ckfoldertree.ckcurrent > .ckfoldertreefiles {
	visibility: visible;
	opacity: 1;
}*/

#ckfoldertreelist .ckfoldertree > .ckfoldertreetoggler {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	padding: 4px 6px;
}

#ckfoldertreelist .ckfoldertree > .ckfoldertreetoggler {
	border: #bbb 1px solid;
	border-color: #bbb #bbb #a2a2a2;
	background-color: #e6e6e6;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: pointer;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	visibility: hidden;
	opacity: 0;
}

#ckfoldertreelist .ckfoldertree > .ckfoldertreetoggler:after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: "+";
	font-family: trebuchet ms;
	font-size: 2em;
	line-height: 100%;
}

#ckfoldertreelist .ckfoldertree.ckopened > .ckfoldertreetoggler:after {
	content: "-";
}

#ckfoldertreelist .ckfoldertree.parent > .ckfoldertreetoggler {
/* #ckfoldertreelist .ckfoldertree.hasfiles > .ckfoldertreetoggler { */
	visibility: visible;
	opacity: 1;
}

/*#ckfoldertreepreview {
	position: relative;
}*/

/*#ckfoldertreepreview > .inner {
	position: fixed;
}*/

#ckfoldertreepreview img {
	max-width: 650px;
	height: auto;
}

/*------------------------------------------------------
 * Styles for the image drag and drop upload
 *-----------------------------------------------------*/

#ckfolderupload.ckdndhover {
	border: 4px dashed #0c0;
	background: rgba(0, 204, 0, 0.12);
}

progress.progress {
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 10px;
}
