/**
 * @copyright	Copyright (C) 2017. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @author		Cedric Keiflin - http://www.template-creator.com - http://www.joomlack.fr
 */
 
 
/*------------------------------------------
	For the component layout
----------------------------------------------*/

.ckpopupwizard .ckheader {
	background: #3d3d3d url(../images/fondheader.png) left bottom repeat-x;
	min-height: 82px;
	padding: 0 0 1px 0;
}

.ckpopupwizard .ckheadertitle {
	font-size: 18px;
	color: #777777;
	margin: 20px 0 0 15px;
	float: left;
}

.ckpopupwizard .ckheadersubtitle {
	font-size: 18px;
	padding: 10px;
	border-bottom: 1px solid #333;
}

.ckpopupwizard .ckheaderlogo {
	background: url(../images/logo_mobilemenuck_large.png) left top no-repeat;
	width: 381px;
	height: 50px;
	margin: 10px 5px 0 10px;
	top: 0px;
	float: left;
}

.ckpopupwizard .ckheaderoverlay {
	position: fixed;
	background: #fff;
	z-index: -1;
	width:100%;
	height: 100%;
}

/*** for the main menu ***/
.ckpopupwizard #mainmenuck {
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	line-height: 20px;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton {
	padding: 0 5px;
	margin: 0;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #c1c1c1;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton:hover {
	box-shadow: none;
}

.ckpopupwizard #mainmenuck span.infotipdesc {
	display: block;
	text-align: left;
	font-size: 11px;
	color: #d8d8d8;
	margin: 5px;
	padding: 0;
	height: 25px;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton.expert > a {
	color: #3DE5DF;
}

.ckpopupwizard #elementscontainer .expert {
	color: #3DE5DF !important;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton.noeditor > a {
	color: red;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a {
	display: block;
	margin: 5px;
	padding: 0;
	font-size: 12px;
	text-align: center;
	color: #c1c1c1;
	height: 25px;
	color: #c1c1c1;
	background-color: transparent;
	border: none;
	box-shadow: none;
	text-decoration: none;
	text-transform: none;
	background-position: 0px 2px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a:hover {
	color: #fff;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton.big a {
	display: block;
	float: right;
	width: 60px;
	height: 45px;
	color: #c1c1c1;
	padding-top: 25px;
	text-align: center;
	margin: 10px 6px 0 0;
	background-position: center 0px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton.big a:hover {
	color: #fff;
}

.ckpopupwizard .ckpopupbuttons_right {
	float: right;
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckcancel {
	background-image: url(../images/cancel.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckcancel:hover {
	background-image: url(../images/cancel_hover.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.cksave {
	width: 75px;
	background-image: url(../images/validate.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.cksave:hover {
	background-image: url(../images/validate_hover.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckpreview {
    background-image: url(../images/preview_button.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton:hover a.ckpreview {
	background-image: url(../images/preview_button_active.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckexpert {
	background-image: url(../images/expert_button.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton.expert a.ckexpert {
	background-image: url(../images/expert_button_active.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckfullscreen {
	background-image: url(../images/fullscreen.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckfullscreen:hover {
	background-image: url(../images/fullscreen_hover.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckimport {
	width: 75px;
	background-image: url(../images/import.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckimport:hover {
	background-image: url(../images/import_hover.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckexport {
	width: 75px;
	background-image: url(../images/export.png);
}

.ckpopupwizard #mainmenuck div.ckpopupbutton a.ckexport:hover {
	background-image: url(../images/export_hover.png);
}


/*--------------------------------------------
--- 			Options interface 			--
----------------------------------------------*/


.ckpopupwizard #ckoverlayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.5);
	z-index: 9999;
}

.ckpopupwizard .ckpopupwizard_save {
	background-image: url('validate.png');
}

.ckpopupwizard .ckpopupwizard_save:hover {
	background-image: url('validate_hover.png');
}

.ckpopupwizard .ckpopupwizard_cancel {
	background-image: url('cancel.png');
}

.ckpopupwizard .ckpopupwizard_cancel:hover {
	background-image: url('cancel_hover.png');
}

.ckpopupwizard .ckpopupwizard_button {
	color: #aaa;
	padding: 5px 20px 5px 5px;
	background-color: #333;
	background-position: right center;
	background-repeat: no-repeat;
	border-top: #666 1px solid;
	border-left: #444 1px solid;
	border-right: #444 1px solid;
	border-bottom: #000 1px solid;
	float: right;
	margin: 3px 3px 15px 3px;
	width: 50px;
	cursor: pointer;
	font-family: 'Segoe UI';
}

.ckpopupwizard .ckpopupwizard_button:hover {
	background-color: #222;
	color: #fff;
}

.ckpopupwizard .ckpopupwizard_title {
	color: #fff;
	font-size: 16px;
	font-family: 'Segoe UI';
}

.ckpopupwizard .tooltip {
	z-index: 10001 !important;
}