.postext-spextraslider {
	margin-top: 10px;
}

.pretext-spextraslider {
	margin-bottom: 10px;
}

.sj-extra-slider {
	margin: 20px 0;
}

.page-title-extraslider {
	color: #2E2C2D;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	width: 75%;
	margin: 10px 0 8px 0px;
}

.sj-extra-slider a {
	text-decoration: none;
}

.sj-extra-slider.preload {
	height: 250px;
	overflow: hidden;
	position: relative
}

.sj-extra-slider .extra-loading {
	background: url('../images/loading.gif') no-repeat scroll center center transparent;
	height: 250px;
	width: 100%;
}

.sj-extra-slider.preload .heading-title,
.sj-extra-slider.preload .owl-controls,
.sj-extra-slider.preload .owl-controls,
.sj-extra-slider.preload .extraslider-inner {
	display: none !important;
}

.sj-extra-slider .pre-text,
.sj-extra-slider .post-text {
	margin: 10px 0;
}

.sj-extra-slider .heading-title {
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	margin-bottom: 10px;
}

.sj-extra-slider .extraslider-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px dotted #000000;
	border-top: 1px dotted #000000;
	padding-bottom: 8px;
}
.sj-extra-slider .item {
	position: relative;
	display: block;
}

.sj-extra-slider .owl-item {
	float: left;
}

.sj-extra-slider .extraslider-inner .item-wrap {
	position: relative;
	overflow: hidden;
}

.sj-extra-slider .extraslider-inner .item-wrap .item-info .item-content .item-price{
	color: red;
	font-size: 16px;
}
.sj-extra-slider .extraslider-inner .item-wrap .item-info .item-content {
	margin-left: 10px;
}

.sj-extra-slider .extraslider-inner .item-wrap .item-info,
.sj-extra-slider .extraslider-inner .item-wrap .item-info .item-content {
	overflow: hidden;
}

.sj-extra-slider .extraslider-inner .item-wrap.style1 .item-info {
	color: #FFF;
	position: absolute;
	background: url(../images/background.png) repeat;
	bottom: 0;
	left: 0;
}

.sj-extra-slider .extraslider-inner .item-wrap .item-info a {
	color: #FFF;
}

.sj-extra-slider .extraslider-inner .item-wrap .item-info a:hover {
	color: #DDD;
}

.sj-extra-slider .extraslider-inner .item-wrap.style2 .item-info {
	background: #333333;
	color: #FFF;
	position: relative;
}

.sj-extra-slider .extraslider-inner .item-wrap-inner {
	margin: 8px 5px 0 5px;
	padding: 0 1px;
	position: relative;
	overflow: hidden;
}

.sj-extra-slider .extraslider-inner .item-wrap-inner a.new-box {
	left: -4px;
	z-index: 2;
}

.sj-extra-slider .extraslider-inner .item-wrap-inner a.sale-box {
	right: -4px;
	z-index: 2;
}

.sj-extra-slider .extraslider-inner .item-wrap.last {
	margin-right: 0px;
	padding-right: 0px;
}

.sj-extra-slider .extraslider-inner {
	clear: both;
}

.sj-extra-slider .extraslider-inner .item-wrap img {
	width: 100%;
	border: none;
	box-shadow: #000 0em 0em 0em;
}

.sj-extra-slider .extraslider-inner .item-wrap img:hover {
	box-shadow: #000 0em 0em 0em;
}

.sj-extra-slider .item .item-wrap .item-description {
	margin-bottom: 0;
}

.sj-extra-slider .item .item-wrap .item-prices {
	padding: 0px;
	margin-bottom: 10px;
}

.sj-extra-slider .item .item-wrap .item-prices .item-price {
	color: #FF0000;
	font-weight: bold;
	font-family: Georgia;
	margin-right: 3px;
}
.sj-extra-slider .item-info .item-addtocart .addtocart-area{
	margin-bottom: 5px !important;
}
.sj-extra-slider .item-info .item-addtocart .addtocart-area form .addtocart-bar{
	bottom: 0;
	position: relative;
	text-align: left;
}
.sj-extra-slider .item-info .item-addtocart .addtocart-area form .addtocart-bar .quantity-controls{
	display: none;
}
.sj-extra-slider .item-info .item-addtocart .addtocart-area form .addtocart-bar .quantity-box{
	display: none;
}
.sj-extra-slider .style3 .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-top: 10px;
}
.sj-extra-slider .style4 .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-top: 10px;
}
.sj-extra-slider .style5 .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-top: 10px;
}
.sj-extra-slider .style6 .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-top: 10px;
}
.sj-extra-slider .style7 .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-top: 10px;
}
.sj-extra-slider .item-info .item-addtocart .addtocart-area form .addtocart-bar .addtocart-button{
	margin-left: 5px;
}

.sj-extra-slider .item .item-wrap .item-readmore {
	margin-top: 10px;
	text-align: right;
}

.sj-extra-slider .extraslider-inner .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sj-extra-slider .extraslider-inner .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	position: relative;

}

.sj-extra-slider .extraslider-inner .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.sj-extra-slider .owl-controls {
	margin-bottom: 8px;
	text-align: right;
	float: right;
	vertical-align: middle;
	display: inline;
}

.sj-extra-slider .owl-controls .owl-controls {
	float: left;
	margin: 0;
}

.sj-extra-slider .owl-controls .owl-prev,
.sj-extra-slider .owl-controls .owl-next {
	float: left;
	outline: none;
	font-size: 22px;
	line-height: 18px;
	color: #797575;
	cursor: pointer;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	font-family: Arial;
	height: 20px;
	vertical-align: middle;
}

.sj-extra-slider .owl-controls .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
}

.sj-extra-slider .owl-dots .owl-dot {
	display: block;
	width: 12px;
	height: 12px;
	margin: 4px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #797575;
	cursor: pointer;
	vertical-align: middle;
}

.sj-extra-slider .owl-dots .owl-dot:hover {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #77f9f1;
}

.sj-extra-slider.button-type2 .owl-controls{
	width: 100%;
}

.sj-extra-slider.button-type2 .owl-nav{
	float: right;
	text-align: right;
	margin-bottom: 8px;
}

.sj-extra-slider.button-type1 .owl-dots{
	float: left;
}

.sj-extra-slider.button-type2 .owl-dots{
	text-align: center;
	margin-top: 10px;
	display: block;
}

.sj-extra-slider .owl-dots .owl-dot.active {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #77f9f1;
}

.sj-extra-slider .owl-dots .owl-dot:focus,
.sj-extra-slider .owl-nav .owl-prev:focus,
.sj-extra-slider .owl-nav .owl-next:focus {
	outline: none;
}

.sj-extra-slider.button-type2  .owl-dots {
	text-align: center;
	margin-top: 10px;
	display: block;
}

.sj-extra-slider.button-type2 .owl-prev,
.sj-extra-slider.button-type2 .owl-next {
	background: none repeat scroll 0 0 #51A54C;
	border-radius: 50%;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-family: Arial;
    font-size: 30px;
	font-weight: 700;
    height: 30px;
	line-height: 25px;
    margin: 0 0 0 5px;
	/* opacity: 0.5; */
	outline: medium none;
	text-align: center;
	vertical-align: middle;
    width: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.sj-extra-slider .owl-controls .owl-prev:hover,
.sj-extra-slider .owl-controls .owl-next:hover {
	color: #77f9f1;
	filter: Alpha(Opacity=100);
	opacity: 1;
}

/*css Media*/
@media all and (max-width: 479px) {
	.sj-extra-slider .extraslider-inner .item-wrap .item-image .quick-view-wrapper-mobile {
		display: block;
	}

	.sj-extra-slider.preset04-6 .extraslider-inner .item-wrap.style1 .item-info {
		max-height: 200px;
	}

}

@media all and (min-width: 480px) and (max-width: 767px) {
	.sj-extra-slider .extraslider-inner .item-wrap .item-image .quick-view-wrapper-mobile {
		display: block;
	}

	.sj-extra-slider.preset03-6 .extraslider-inner .item-wrap.style1 .item-info {
		max-height: 200px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.sj-extra-slider .extraslider-inner .item-wrap .item-image .quick-view-wrapper-mobile {
		display: none;
	}

	.sj-extra-slider.preset02-6 .extraslider-inner .item-wrap.style1 .item-info {
		max-height: 200px;
	}

}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.sj-extra-slider .extraslider-inner .item-wrap .item-image .quick-view-wrapper-mobile {
		display: none;
	}

	.sj-extra-slider.preset01-6 .extraslider-inner .item-wrap.style1 .item-info {
		max-height: 200px;
	}

}

@media all and (min-width: 1200px) {
	.sj-extra-slider .extraslider-inner .item-wrap .item-image .quick-view-wrapper-mobile {
		display: none;
	}

	.sj-extra-slider.preset00-6 .extraslider-inner .item-wrap.style1 .item-info {
		max-height: 200px;
	}
}

.lang_ar .owl-controls{
	float: left;
}

.lang_ar .owl-controls .owl-next{
	right: 0;
	direction: ltr !important;
}

.lang_ar .owl-controls .owl-prev {
	right: 20px;
	float: left;
	direction: ltr !important;
}

.lang_ar .owl-carousel .owl-stage {
	float: left;
}

.lang_ar .sj-extra-slider .extraslider-inner .item-wrap .item-info .item-content {
	margin-left: 0;
	margin-right: 10px;
}

.lang_ar .sj-extra-slider.button-type2 .owl-prev,
.sj-extra-slider.button-type2 .owl-next {
	direction: ltr !important;
}