/*******************************************
***          phuc.pham          ***
*******************************************/

@media (max-width: 320px)
{
    article.item-page {
        display: block;
    }
    .services_home1 li {
        width: 20% !important;
    }
    #yt_logo img {
        position: relative;
        bottom: 40px;
    }
    /*#yt_logo {*/
    /*    margin: 30px 0px 30px 30px;*/
    /*}*/
}
@media (max-width: 360px) {
    /*#yt_logo {*/
    /*    margin: 30px 0px 30px 30px;*/
    /*}*/
    #imagesdestop {
        display: none !important;
    }

    #imagesmobile {
        display: block !important;
    }

    /*#yt_logo {*/
    /*    display: none;*/
    /*}*/
    ul.services_home1.keywords li {
        float: left !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    /*#yt_logo img {*/
    /*    position: relative;*/
    /*    bottom: 40px;*/
    /*}*/
    /*.module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item {*/
    /*    height: 350px;*/
    /*}*/
}
@media (max-width: 376px)
{
    /*#yt_logo {*/
    /*    margin: 30px 0px 30px 30px;*/
    /*}*/
    article.item-page {
        display: block;
    }
    #yt_header #yt_mainmenu {
        width: 10%;
    }
    .services_home1 li {
        width: 25% !important;
    }
    #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    /*#yt_logo img {*/
    /*    position: relative;*/
    /*    bottom: 40px;*/
    /*}*/
}
@media (max-width: 480px)
{
    #cart {
        float: right;
        width: 80%;
        position: absolute;
    }
    /*#yt_logo {*/
    /*    margin: 30px 0px 30px 30px;*/
    /*}*/
    #cart .module.sjminicart {
        top: 5px !important;
        right: 0px !important;
    }
    article.item-page {
        display: block;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    .services_home1 li {
        float: left !important;
        width: 21% !important;
    }
    .vm-product-container .vm-product-details-container .product_title{
        font-size: 25px;
    }
    /*#yt_logo {*/
    /*    display: block;*/
    /*    position: absolute;*/
    /*    width: unset !important;*/
    /*}*/
    /*#yt_logo img {*/
    /*    position: relative;*/
    /*    bottom: 40px;*/
    /*    left: 40px;*/
    /*}*/

    #top-left{
        display: block !important;
    }
    li.col-1-5 {
        width: 25% !important;
        display: inline-grid !important;
    }
    .keywords span.name {
        border: #c1c1c1 1px solid;
        background-color: #fff;
        padding: 10px 2px;
        margin: 0px 3px;
    }
    ul.services_home1.keywords li {
        float: left !important;
    }
    .col-1-5 {
        width: 16% !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .services_home1 li {
        margin: 0px !important;
        padding: 0px !important;
        height: 150px;
    }
}
@media only screen and (max-width: 640px)
{
    body {
        padding-top: 10px !important;
    }
}
@media only screen and (max-width: 760px) {

    #dj-megamenu634mobile {
        display: block;
        /*padding: 30px 0px 0px 0px;*/
    }
    #mobile-bottom-nav{
        display: block !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    #yt_header {
        padding: 0px !important;
    }
}
@media (max-width: 767px)
{
    .modal-dialog {
        left: unset !important;
    }
    .dj-megamenu-select-light .dj-mobile-open-btn, .dj-megamenu-offcanvas-light .dj-mobile-open-btn, .dj-megamenu-accordion-light .dj-mobile-open-btn {
        margin: 0px 0px 0px 5px !important;
    }
    /*#yt_logo img {*/
    /*    height: 50px !important;*/
    /*    width: 100px !important;*/
    /*    top: 15px;*/
    /*    position: absolute;*/

    /*}*/
    .module.sjsearchvmpro .sj-search-pro-wrapper .search{
        background-color: #67a557 !important;
        border: unset;
    }
    .module.sjsearchvmpro .sj-search-pro-wrapper .search .sj-seach-autocomplete .button-search {
        background-color: #FFDD00;
        color: #fff;
        position: absolute;
    }
    #imagesdestop {
        display: none !important;
    }

    #imagesmobile {
        display: block !important;
    }
    #top-left .modtitle {
        float: left !important;
        margin: 10px 0px !important;
    }
    .acym_module{
        margin: 20px 0px !important;
    }
    .col-1-5 {
        width: 25% !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .modal-dialog {
         left: unset !important;
    }
    #dj-megamenu634mobile {
        display: block;
        margin: 30px 0px 0px 0px;
    }
    .modal-dialog{
        left: unset !important;
    }
    #imagesdestop {
        display: none;
    }

    #imagesmobile {
        display: block;
    }
    #mobile-bottom-nav{
        display: none !important;
    }
    .hidden-md {
        display: none!important;
    }
    li.col-1-5 {
        width: 20% !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    ul#dj-megamenu634 {
        display: none;
    }
    /*.sj-minicart-pro .mc-wrap {*/
    /*     display: unset !important;*/
    /*}*/
    #main-top {
         margin-top: unset !important;
    }
    #main-top .module.sjsearchvmpro {
        width: 100% !important;
    }
    .home-layout1.homepage #yt_header #yt_mainmenu {
        width: 10% !important;
    }
    #yt_logo img {
        height: 70px !important;
        width: auto !important;
        top: 15px;
    }
    .module.sjsearchvmpro .sj-search-pro-wrapper .search{
        background-color: #67a557 !important;
        border: unset;
    }
    .module.sjsearchvmpro .sj-search-pro-wrapper .search .sj-seach-autocomplete .button-search {
        background-color: #FFDD00;
        color: #fff;
        position: absolute;
    }
    .module.sjsearchvmpro {
        width: 70%;
        margin: 15px 0px;
    }
    #top-left .modtitle {
        float: left !important;
        margin: 10px !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .acym_module{
        margin: 17px 0px 0px 0px !important;
    }
    #mobile-bottom-nav{
        display: block !important;
    }

}
@media (min-width: 992px) and (max-width: 1199px)
{
    li.col-1-5 {
        width: 20% !important;
    }
    ul#dj-megamenu634 {
        display: none;
    }
}
@media (min-width: 1200px)
{
    li.col-1-5 {
        width: 11% !important;
    }
    .slideshow_deal .main_slideshow {
        height: 100% !important;
    }
    ul#dj-megamenu634 {
        display: none;
    }
}
@media (max-width: 1024px) {
    #imagesdestop {
        display: block;
    }

    #imagesmobile {
        display: none;
    }
    #mobile-bottom-nav{
        display: block !important;
    }
    ul#dj-megamenu634 {
        display: none;
    }
}
.modal-dialog {
    left: unset !important;
}






/*******************************************
***          YT Framework: css          ***
*******************************************/


/* Medium devices Desktops  
// ------------------*/
@media (min-width: 980px) and (max-width: 1199px) {
    li.level1.havechild {
        display: none;
    }
    .module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item {
        height: 370px !important;
    }
    div.product .spacer .vm-product-media-container .browseProductImage {
        height: 170px !important;
    }
    .module.sjsearchvmpro {
        width: 50% !important;
        margin: 10px 0px;
        left: -25%;
        bottom: 25px;
    }

}

/* Small devices Tablets	
// ------------------*/
@media (min-width: 768px) and (max-width: 979px) {
    li.level1.havechild {
        display: none;
    }
    .module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item {
        height: 350px !important;
    }
    div.product .spacer .vm-product-media-container .browseProductImage {
        height: 285px !important;
    }
    .module.sjsearchvmpro {
        width: 50% !important;
        margin: 10px 0px;
        left: -25%;
        bottom: 25px;
    }
}

/* Extra small devices Phones
// ------------------*/
@media (max-width: 767px) {
    li.level1.havechild {
        display: block;
    }
    .module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item {
        height: 300px !important;
    }
    div.product .spacer .vm-product-media-container .browseProductImage {
        height: 280px !important;
    }
}

li.level1.havechild {
    display: none;
}

#meganavigator li.level1 > .item-link {
    color: #000000 !important;
    font-size: large;
    /*font-weight: bold;*/
}

.modcontent > a {
    color: black;
}

a.storegkconcept {
    color: black;
}

h6.masonry-title {
    color: black;
}

.masonry-content > p {
    color: black;
}

.welovewhatwedo > h3 {
    background-color: #67a557 !important;
    color: white !important;
}

#yt_header {
    /*padding: 10px 0 20px;*/
    /* background-color: #67a557 !important; */
    color: #fff;
    border: #fff 1px solid;
    z-index: 2;
}

#yt_spotlight1 {
    background-color: #67a557 !important;
    /*margin-bottom: 30px;*/
}

.jd-popx-image-container {
    display: none !important;
}

.bg-dark .jd-popx-form-title, .bg-dark .jd-popx-form-subtitle {
    color: black !important;
}

div#main-top-right {
    padding: 0px 0px;
}

.modcontent.welove {
    font-size: 20px;
    font-weight: 200;
    font-family: Myriad Pro;
    text-align: justify;
}

h3.modtitle.we {
    font-size: -webkit-xxx-large;
    font-size: 20px;
    text-align: initial;
    text-transform: uppercase;
    padding: 0px 15px;
}

.module.welovewhatwedo {
    background-color: unset;
}

.categorybig .owl-carousel .owl-item {
    background-color: #fff;

}

.categorybig.module.sjexslidervm .sj-extra-slider .extraslider-inner {
    background-color: unset;
}

ul.bs-items {
    background-color: #fff;
}

.bs-header {
    background-color: #fff;
}

.newblogs h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.views h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.note h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.note a.vcat {
    visibility: collapse;
}

.newblogs a.vcat {
    visibility: collapse;
}

.views a.vcat {
    visibility: collapse;
}

.keywords span.name {
    border: #c1c1c1 1px solid;
    background-color: #fff;
    padding: 15px 5px;
    margin: 0px 3px;
}

.module.modkeywords {
    background-color: unset;
}

.module.modkeywords {
    background-color: unset;
}

div#top-right {
    margin: 5px 0px;
}

section#yt_top {
    background-color: #F4F4F2 !important;
}

div#top-right h3.modtitle {
    font-size: 22px;
    /* color: black; */
}

input.btn.btn-primary.button.subbutton {
    border-radius: 20px;
}

span.Priceproduct_price {
    text-decoration: line-through;
    font-size: 13px;
    /* color: black; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
span.PricesalesPrice.percent {
    color: black !important;
    float: left;
    padding: 0px 0px 0px 100px;
    margin: -22px;
    font-size: 13px !important;
}

.product-short-description .Priceproduct_price {
    position: absolute;
    margin: -8px 0px 0px 52px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    width: max-content;
    color: #BFBFC1 !important;
}

span.PricesalesPrice.percent {
    color: #FF4100 !important;
    width: max-content;
    margin: -15px 0px 2px -65px;
    font-weight: 700;
    font-size: 13px !important;
}

.savemoney {
    margin: 0px 0px 0px 30px;
}

.savemoney span.PricediscountAmount {
    position: absolute;
    margin: -15px 0px 0px 3px;
    font-weight: 400;
    font-size: 15px;
}

button#checkexampleModalScrollable {
    color: black;
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.col-sm-12.col-md-4.vm-product-details-container {
    background-color: #fff;
}

#main-bottom .module {
    border: unset;
}

#main-bottom h3.modtitle {
    border: unset;
}

span.PricesalesPrice.percent.home {
    margin: -22px;
    color: black !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

#acym_module_formAcym32241 {
    float: right;
    margin: 10px;
}

.product-short-description.productdetailservice {
    border: #494949 1px solid;
    border-radius: 25px;
    padding: 25px 20px;
    font-size: 20px;
}

.col-sm-12.col-md-8.vm-product-images-container {
    z-index: 99;
}

#imagesmobile {
    display: none;
}
#mobile-bottom-nav{
    display: none !important;
}

.module.sjsearchvmpro .sj-search-pro-wrapper .search .sj-seach-autocomplete .button-search {
    background-color: #FFDD00;
    color: #fff;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.col-1-5 {
    position: inherit;
    float: left !important;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: -webkit-box;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
}
.mobile-bottom-nav__item {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.mobile-bottom-nav__item--active {
    color: #51A54C;
}
.mobile-bottom-nav__item-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.banner-slth1 img {
    max-width: -webkit-fill-available;
    height: auto !important;
}


.module.popular-tags {
    background-color: unset;
}
.module.popular-tags .modcontent .tagspopular.popular-tags ul li {
    float: left;
    margin: 3px 4px 3px 0;
    border: #c1c1c1 1px solid;
    background-color: #fff;
}
.row.features article {
    background-color: #fff;
    border: #c1c1c1 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    height: 240px;
    object-fit: cover;
    font-size: 13px;
    font-weight: 500;
}

.card-title.m-0 {
    color: #666;
    font-weight: 700;
    font-size: 18px;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.text-white {
    color: #fff !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.bg-primary {
    background-color: #FFF !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
select#country,select#ward,select#province {
    font-size: 15px;
    margin: 5px 5px 0px 5px;
    width: -webkit-fill-available;
}
.
header#yt_header > .sp-page-builder.sua-de-cong-thuc-dg3-dg2-dg1.page-378 {
    display: none;
}
#yt_breadcrumb > .sp-page-builder.sua-de-cong-thuc-dg3-dg2-dg1.page-378 {
    display: none;
}

#main-bottom > .sp-page-builder.sua-de-cong-thuc-dg3-dg2-dg1.page-378 {
    display: none;
}
.services_home1 li {
    width: 11.1%;
    background-color: #ffffff;
    border: #eeeeee 1px solid;
}
.services_home1 li a {
    color: #999;
    display: block;
    text-align: center;
    padding: 14px 0px;
    margin: 0px 10px;
}

.home-layout1 > .layout-wide {
    background: #fff !important;
}
.homepage.home-layout1 >.layout-wide {
    background: #f6f6f6 !important;
}
.vmgroup {
    /*border: #000 1px solid;*/
    padding: 0px 10px;
}
/*.module.vmproduct div.modcontent .vmgroup .vmproduct {*/
/*    box-shadow: 5px 8px #67a557d4;*/
/*    background-color: #f6f6f6;*/
/*}*/
/*div.product:hover {*/
/*    border: #666 1px solid;*/
/*    padding: 10px;*/
/*    !*box-shadow: 1px 1px #666;*!*/
/*}*/
.category_description > p {
    font-size: 13px;
    font-style: inherit;
    /*padding: 20px 0px;*/
    color: black;
}
.category_description {
    background: unset !important;
    /*border: black 1px solid;*/
    margin: 20px 0px;
}
div.product{
    /*border: unset !important;*/
    padding: 0px 3px;
}
div.product .spacer .vm-product-content-container .vm-product-descr-container h2 a {
    font-weight: 400;
}
aside#content_left {
    border-right: black 1px solid;
}
li.portfolio-product-item.col-lg-2.col-md-2.col-sm-6.col-xs-6 {
    background-color: #fff;
    border: 1px #f6f6f6 solid;
    padding: 5px;
    border-radius: 15px;
    /*height: 160px;*/
}
.module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item {
    border: #f7f5f5 1px solid;
    height: 450px;
}
.vmheader {
    font-size: 19px;
    padding: 20px 10px;
    font-weight: 700;
    text-align: center;
}

.chat-zalo {
    background: #8eb22b;
    border-radius: 15px;
    padding: 15px 18px;
    color: white;
    display: block;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}
.chat-face {
    background: #125c9e;
    border-radius: 15px;
    padding: 15px 18px;
    color: white;
    display: block;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}
.float-contact .hotline {
    display: block;
    margin: 25px 0px;
    width: -webkit-fill-available;
}
.chat-zalo a, .chat-face a, .hotline a {
    font-size: 25px;
    color: #f05122;
    font-weight: 400;
    text-transform: none;
    line-height: 0;
}
.vm-product-container .vm-product-details-container .addtocart-area .addtocart-bar .addtocart-button {
    padding: 20px 50px;
    font-size: 16px;
    /*margin-top: 20px;*/
    background: #f05122 !important;
    border: #DDC 1px solid;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    line-height: 16px;
    width: -webkit-fill-available;
    max-width: 50%;
}

.category-view .row .category .spacer h2 a img{
    max-width: 50%;
}
.zalo-chat-widget {
    position: fixed!important;
    float: left;
    left: 0;
}
ul.banner.banner-slth1.homepage {
    top: 50px !important;
}
input.quantity-control.quantity-minus,input.quantity-control.quantity-plus{
    border-radius: 50%;
    padding: 10px 15px;
    margin: 10px;
}
.vm-product-container .vm-product-details-container .addtocart-area .addtocart-bar .quantity-box .quantity-input {
    min-height: 40px;
    width: 40px;
    border: #65bd4f 1px solid;
}
i.fa.fa-plus.pl-2.pr-2.pt-5 {
    margin: 45px 3px 0px 3px;
}
.product-content > a,
div.product .spacer .vm-product-content-container .vm-product-descr-container h2 a,
.vm-product-container .vm-product-details-container .product_title,
h1.cat_title,
.module.sjexslidervm .sj-extra-slider .extraslider-inner .owl-stage-outer .owl-stage .owl-item .item .item-wrap .item-wrap-inner .item-info .item-title a,
.breadcrumb{
    text-transform: capitalize !important;
    /*font-size: 12px !important;*/
}
span.PricesalesPrice.goodideacategory {
    color: #fff !important;
    background-color: #51a54c;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase !important;
}
article.page-news.item-page > header.article-header {
    font-size: 15px;
    font-weight: 400 !important;
    text-transform: uppercase;
    line-height: 30px;
}
figure.pull-left.item-image {
    margin: 0px 0px 20px 0px;
}
figure.pull-left.item-image > img {
    border-radius: 20px;
}
header.article-header {
    text-transform: uppercase;
}
header.article-header > h3 a {
    font-family: "Roboto Slab";
    font-size: 15px;
    align-items: center;
    text-align: center;
    height: auto;
    /* white-space: nowrap; */
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
img.news-blogs-detail {
    margin: 20px 0px;
}

.sidenav {
    width: 52px;
    position: fixed;
    z-index: 1;
    bottom: 25px;
    left: 13px;
    background: #fff;
    border-radius: 5px;
}
.sidenav {
    width: auto !important;
    z-index: 150 !important;
    bottom: 50px !important;
    padding: 25px 10px;
    border: 1px solid #f2f2f2;
    list-style-type: none;
}
i.fa.fa-heart {
    font-size: 25px;
    align-items: center;
    color: red;
}
.sidenav ul>li a i {
    width: 33px;
    height: 33px;
    display: block;
    margin: auto;
}
.icon-zalo-circle2 {
    background: url('https://gkconcept.vn/images/stories/virtuemart/product/icon-zalo-circle2.png') no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: inline-block;
}
.icon-messenger {
    background: url('https://gkconcept.vn/images/stories/virtuemart/product/icon-messenger.png') no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: inline-block;
}
.icon-call {
    background: url('https://gkconcept.vn/images/stories/virtuemart/product/icon-call.png') no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: inline-block;
}
.module.brands {
    margin: 20px;
}
.dropbtn {
    color: white;
    padding: 5px 0px;
    font-size: 13px;
    border: none;
}
.dropdown {
    position: relative;
    border: 1px #fff solid;
    margin: 1px;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    /*width: max-content;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 35%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

ul.resmenu ul.nav {
    padding: 0px;
}
ul.resmenu {
    width: fit-content;
}
/*.slideout-menu {*/
/*    width: 100%;*/
/*}*/
.homepage.home-layout1 >.layout-wide{
    background-color: #fff !important;
}
.module.sjsearchvmpro {
    width: 70%;
    margin: 10px 0px;
}
.module.sj_verticalmegamenu a.modtitle {
    font-size: 19px;
    text-align: center;
    padding: 5px;
}
.col-sm-4.productdetails-chinhsach-img {
    margin: 5px 0px;
}
.module.sj_verticalmegamenu.category {
    margin: -125px 0px 0px 0px;
}
.module.sj_verticalmegamenu {
    margin: -51px 0 25px;
    border: none;
}
.module.sj_verticalmegamenu.category .sambar {
    margin: 0;
    border: #ddd 1px solid;
    position: absolute;
    background-color: #edf9ec;
    z-index: 99999;
}
.module.sj_verticalmegamenu.category .sambar .sambar-inner ul.sj-megamenu.sj-megamenu-vertical .level-1 {
    display: block;
    margin: 0 -1px;
    padding: 0px 100px 0 20px;
    border: none;
    position: relative;
}
.mobilemenuck-bar.ltr {
    width: 50px;
    height: 50px;
    top: -130px;
}
.mobilemenuck-bar-button {
    position: initial !important;
    top: 60px !important;
    float: left !important;
    left: 10px;
}
div#resmenu {
    display: none;
}
.sppb-column, .sppb-column-addons {
    position: relative;
    z-index: unset !important;
    width: 100%;
}
.dj-megamenu-select-light .dj-mobile-open-btn, .dj-megamenu-offcanvas-light .dj-mobile-open-btn, .dj-megamenu-accordion-light .dj-mobile-open-btn {
    background: #51a54c !important;
    color: #FFF !important;
    width: 50px !important;
    height: 50px !important;
}
.mobilemenuck-bar-button {
    display: none !important;
}
.mobilemenuck-bar-title {
    display: none !important;
}
div#yt_logo {
    padding: 0px !important;
}
.layout-wide {
     background: #FFF !important;
}
div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1.parent > a:after, div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1.parent > span.separator:after {
    border-left-color: #d8ecd7 !important;
}
li.dj-mobileitem.itemid-1982 {
    display: none;
}
.breadcrumb {
    margin-bottom: unset !important;
}
.category_description_2 {
    font-size: 15px;
    font-style: normal;
    font-family: 'Arial', Helvetica, sans-serif;
    padding: 5px;
    margin: 15px;
    color: #000;
    align-items: normal;
    text-align: justify;
}
div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1 > a span.titreck, div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1 > span.separator span.titreck {
    text-transform: capitalize !important;
}
div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1 li.maximenuck > a span.titreck, div#maximenuck629.maximenuckv ul.maximenuck li.maximenuck.level1 li.maximenuck > span.separator span.titreck, div#maximenuck629 li.maximenuck.maximenuflatlistck:not(.level1) span.titreck, div#maximenuck629 .maxipushdownck li.maximenuck > a span.titreck, div#maximenuck629 .maxipushdownck li.maximenuck > span.separator span.titreck {
    text-transform: capitalize !important;
}
ul.dj-mobile-light li.dj-mobileitem:hover > a, ul.dj-mobile-light li.dj-mobileitem.active > a {
    text-transform: capitalize !important;
}
ul.dj-mobile-light ul li.dj-mobileitem > a {
    text-transform: capitalize !important;
}
ul.dj-mobile-light li.dj-mobileitem.parent > a {
    text-transform: capitalize !important;
}
#sp-page-builder {
    position: sticky;
}
#sppb-addon-1610939592519 .sppb-addon-title,#sppb-addon-1611022974247 h4.sppb-addon-title{
    color: #51A54C;
    font-size: x-large;
}
#sppb-addon-1610940913844 .tagspopular.popular-tags li {
    padding: 5px;
}
