table.admintable fieldset.radio input[type=radio] {
/*	display: inline-block !important;*/
	margin-left: 10px; 
	margin-right: 10px; 
}
table.admintable fieldset.radio label {
	/*display: inline-block;*/
	float: left;
	margin-right: 30px; 
	
}

table.admintable select {
	width: 90%;
}

#tag_list table.adminform {
	width: 100%;
}
textarea {
	width: 90% !important;
}
.right {
	text-align:right;
}
.header-line {
	background: #eee;
}
.header-line .text {
	line-height: 28px;	
}
.detail {
	margin-top: 10px;
}
