|ID| .mobilemenuck {
    text-shadow: 1px -1px 2px #000;
}

|ID| .mobilemenuck div span.descck {
    padding-left: 10px;
    font-size: 12px;
}

|ID| .open .mobilemenuck-togglericon:after {
	background-image: url([PRESETS_URI]/default/minus.jpg)
}