/**
 * JCH Optimize - Performs several front-end optimizations for fast downloads
 *
 * @package   jchoptimize/core
 * @author    Samuel Marshall <samuel@jch-optimize.net>
 * @copyright Copyright (c) 2020 Samuel Marshall / JCH Optimize
 * @license   GNU/GPLv3, or later. See LICENSE file
 *
 * If LICENSE file missing, see <http://www.gnu.org/licenses/>.
 */

UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px !important;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

UL.jqueryFileTree A:hover {
	background: #BDF;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(../images/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(../images/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(../images/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(../images/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(../images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(../images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(../images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(../images/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(../images/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(../images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(../images/picture.png) left 2px no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(../images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(../images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(../images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(../images/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(../images/picture.png) left 2px no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(../images/picture.png) left 2px no-repeat; }
.jqueryFileTree LI.ext_js { background: url(../images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(../images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(../images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(../images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(../images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(../images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(../images/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(../images/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(../images/picture.png) left 2px no-repeat; }
.jqueryFileTree LI.ext_ppt { background: url(../images/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(../images/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(../images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(../images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(../images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(../images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(../images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(../images/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(../images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(../images/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(../images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(../images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(../images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(../images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(../images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(../images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(../images/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(../images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(../images/zip.png) left top no-repeat; }

.jqueryFileTree LI.check-all { background: url(../images/arrow_left.png) left top no-repeat; }


#file-tree-container, #files-container{
        float:left;
        padding: 5px;
}

.files-content{
        height:400px;
        overflow-y: auto;
}

#file-tree-container{
        width:30%;
}

#files-container{
        width: 40%;
        margin-right: 20px;
}

#files-container a{
        display: inline;
}

#files-container .files-content{
        height: 364px;
        padding-left: 30px;
}

#files-container-header{
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
}

#files-container ul li{
       height: 18px;
       line-height:18px;
       padding-left: 0px !important;
}

#files-container ul li span:first-of-type{
        position: relative;
        left: -20px;
        width: 20px;
        display: inline-block;
}

#files-container ul li span:nth-child(2),
#files-container ul li span:nth-child(3),
#files-container ul li span:nth-child(4){
        display: inline-block;
        width: 22.5%;
        min-width: 60px;
}

#files-container ul li span:nth-child(2){
        width: 50%;
}

#files-container ul li span input{
        margin: 0;
}

#files-container ul li.check-all{
        margin-bottom: 5px;
}

#files-container ul li input[type=text]{
        margin: 0;
        padding: 0;
        box-shadow: none;
        font-size: 11px;
        height:18px;
        border-radius: 0px;
        width:60px;
}

#files-container ul li input[type=text]:focus{
        box-shadow: none;
        border-color: #ccc;
}

#files-container ul li.file:nth-child(odd),
#files-container ul li.file:nth-child(odd) input[type=text]
{
        background-color: whitesmoke;
}

#files-container ul li.file:nth-child(even),
#files-container ul li.file:nth-child(even) input[type=text]
{
        background-color: white;
}
