/**
 * sh404SEF - SEO extension for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2020
 * @package     sh404SEF
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     4.22.1.4233
 * @date		2020-12-03
 */

.sh404sef-popup #content-box {
  border-left: none;
  border-right: none;
}

.icon-48-sh404sef { background-image: url(../images/icon-48-sh404sef-logo.png); }
.icon-48-warning { background-image: url(../images/icon-48-warning.png); }
.icon-32-confirmeddeletepageids { background-image: url(../images/icon-32-delete.png); }
.icon-32-confirmedpurgepageids { background-image: url(../images/icon-32-delete.png); }
.icon-32-confirmeddeldup { background-image: url(../images/icon-32-delete.png); }

div.sh404sef-toolbar-title {
  font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
  padding-left: 135px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

div.headerconfirm {
  font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
  padding-left: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.sh404sef-popup td.key {
  text-align: right;
}

.sh-ajax-loading { 
  background-image: url(../images/sh-ajax-loader-wide.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#sh-message-box ul{
  color: #0055BB;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #C3D2E5;
  background-image: url(../images/notice-info.png);
}

#sh-error-box ul{
  color: #c00;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #E6C0C0;
  background-image: url(../images/notice-alert.png);
  border-color: #DE7A7B;
}
