/**
 * sh404SEF - SEO extension for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2020
 * @package     sh404SEF
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     4.22.1.4233
 * @date		2020-12-03
 */
#sbox-btn-close {
	display: none;
}

#sbox-window.sh404sef-popup {
	background-color: grey;
}

#sbox-overlay.sh404sef-popup {
	background-color: grey;
}

.sh404sef-popup #content-box {
	border-left: none;
	border-right: none;
}

.icon-32-main {
	background-image: url(../images/icon-32-default.png);
}

.icon-48-sh404sef {
	background-image: url(../images/icon-48-sh404sef-logo.png);
}

.icon-48-warning {
	background-image: url(../images/icon-48-warning.png);
}

.icon-32-purge {
	background-image: url(../images/icon-32-purge.png);
}

.icon-32-purgeselected {
	background-image: url(../images/icon-32-purgeselected.png);
}

.icon-32-home {
	background-image: url(../images/icon-32-frontpage.png);
}

.icon-32-cpanel {
	background-image: url(../images/icon-32-cpanel.png);
}

.icon-32-import {
	background-image: url(../images/icon-32-import.png);
}

.icon-32-export {
	background-image: url(../images/icon-32-export.png);
}

.icon-32-selectnfredirect {
	background-image: url(../images/icon-32-default.png);
}

.icon-32-deletedeldup {
	background-image: url(../images/icon-32-delete.png);
}

div.sh404sef-toolbar-title {
	font-size: 22px;
	font-weight: bold;
	color: #0B55C4;
	line-height: 48px;
	padding-left: 135px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.sh-ajax-loading {
	background-image: url(../images/sh-ajax-loader-wide.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

div.mainurl {
	font-size: 22px;
	font-weight: bold;
	color: #0B55C4;
	line-height: 48px;
	background-repeat: no-repeat;
	text-align: center;
}

div.sh404sef-red {
	color: red;
}

div.sh404sef-red-center {
	color: red;
	text-align: center;
}

#sh-message-box ul {
	color: #0055BB;
	background-position: 4px top;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
	background-color: #C3D2E5;
	background-image: url(../images/notice-info.png);
}

#sh-error-box ul {
	color: #c00;
	background-position: 4px top;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
	background-color: #E6C0C0;
	background-image: url(../images/notice-alert.png);
	border-color: #DE7A7B;
}

div.sh404sef-footer-container {
	clear: both;
	width: 100%;
	border-top: 1px #DDDDDD solid;
	background: none repeat scroll 0 0 #EDEDED;
	text-align: center;
	font-size: 11px;
	font-style: italic;
	width: 100%;
	left: 0;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	right: 0;
}
