@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?43444598');
  src: url('../font/fontello.eot?43444598#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?43444598') format('woff2'),
       url('../font/fontello.woff?43444598') format('woff'),
       url('../font/fontello.ttf?43444598') format('truetype'),
       url('../font/fontello.svg?43444598#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43444598#fontello') format('svg');
  }
}
*/
 
 [class^="vm2s-icon-"]:before, [class*=" vm2s-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.vm2s-icon-tumbler:before { content: '\e800'; } /* '' */
.vm2s-icon-comment:before { content: '\e801'; } /* '' */
.vm2s-icon-qrcode:before { content: '\e802'; } /* '' */
.vm2s-icon-volume:before { content: '\e803'; } /* '' */
.vm2s-icon-twitter:before { content: '\f099'; } /* '' */
.vm2s-icon-facebook:before { content: '\f09a'; } /* '' */
.vm2s-icon-pinterest:before { content: '\f0d2'; } /* '' */
.vm2s-icon-gplus:before { content: '\f0d5'; } /* '' */
.vm2s-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.vm2s-icon-linkedin:before { content: '\f0e1'; } /* '' */
.vm2s-icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.vm2s-icon-delicious:before { content: '\f1a5'; } /* '' */
.vm2s-icon-share:before { content: '\f1e0'; } /* '' */
.vm2s-icon-whatsapp:before { content: '\f232'; } /* '' */
.vm2s-icon-reddit:before { content: '\f281'; } /* '' */
.vm2s-icon-telegram:before { content: '\f2c6'; } /* '' */
.vm2s-icon-mixi:before { content: '\f34b'; } /* '' */