
.vm2s-icon-tumbler:before { content: '\e800'; } /* '' */
.vm2s-icon-comment:before { content: '\e801'; } /* '' */
.vm2s-icon-qrcode:before { content: '\e802'; } /* '' */
.vm2s-icon-volume:before { content: '\e803'; } /* '' */
.vm2s-icon-twitter:before { content: '\f099'; } /* '' */
.vm2s-icon-facebook:before { content: '\f09a'; } /* '' */
.vm2s-icon-pinterest:before { content: '\f0d2'; } /* '' */
.vm2s-icon-gplus:before { content: '\f0d5'; } /* '' */
.vm2s-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.vm2s-icon-linkedin:before { content: '\f0e1'; } /* '' */
.vm2s-icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.vm2s-icon-delicious:before { content: '\f1a5'; } /* '' */
.vm2s-icon-share:before { content: '\f1e0'; } /* '' */
.vm2s-icon-whatsapp:before { content: '\f232'; } /* '' */
.vm2s-icon-reddit:before { content: '\f281'; } /* '' */
.vm2s-icon-telegram:before { content: '\f2c6'; } /* '' */
.vm2s-icon-mixi:before { content: '\f34b'; } /* '' */