/* CSS Document */
.vm2share{width:100%;  background-color: #ffffff; padding:8px 2px 2px 8px}
#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {width: 100% !important}

.share-btn, .share-btn-c,
.share-btn * {
  box-sizing: border-box;
}
.share-btn, .share-btn-c,
.share-btn *,
.share-btn *:before,
.share-btn *:after {
  box-sizing: border-box;
}
.share-btn , .share-btn-c {
  position: relative;
  display: inline-block;
  height: 24px;
  margin: 2px;
  padding: 2px 8px;
  line-height: 1.53;
  letter-spacing: .04em;
  
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #111;
  background: #e0e0e0;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
      top: -3px;
}
.share-btn:hover, 
.share-btn:focus {
  background: #d3d3d3;
  border-color: #bababa;
  text-decoration: none;
  color: #111;
}
.share-btn:active {
  background: #c7c7c7;
  border-color: #adadad;
  text-decoration: none;
  color: #111;
}
.share-btn.share-btn-sm,.share-btn-c.share-btn-sm {
  height: 20px;
  font-size: 10px;
  line-height: 1.6;
  text-decoration: none;
}

.share-btn-f.share-btn-sm {
  height: 20px;
  font-size: 10px;
  padding: 0 8px;
  line-height: 1.6;
  text-decoration: none;
  margin: 2px -6px -1px;
}

.share-btn.share-btn-lg, .share-btn-c.share-btn-lg {
  height: 28px;
  font-size: 16px;
  line-height: 1.4;
}
.share-btn .share-btn-text-sr , .share-btn-c .share-btn-text-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.share-btn.share-btn-branded,.share-btn-c.share-btn-branded {
  color: #fff;
}


.share-btn.share-btn-branded.share-btn-whatsapp {
  background: #5cbe4a;
  border-color: #59b149;
}
.share-btn.share-btn-branded.share-btn-whatsapp:hover,
.share-btn.share-btn-branded.share-btn-whatsapp:focus {
  background: #59b149;
  border-color: #4b943e;
}
.share-btn.share-btn-branded.share-btn-whatsapp:active {
  background: #4b943e;
  border-color: #1689e0;
}

.share-btn.share-btn-branded.share-btn-mixi {
  background: #CFA34C;
  border-color: #b99143;
}
.share-btn.share-btn-branded.share-btn-mixi:hover,
.share-btn.share-btn-branded.share-btn-mixi:focus {
  background: #b99143;
  border-color: #9e7c39;
}
.share-btn.share-btn-branded.share-btn-mixi:active {
  background: #9e7c39;
  border-color: #1689e0;
}

.share-btn.share-btn-branded.share-btn-send {
  background: #0084ff;
   border-color: #0099ff;
}
.share-btn.share-btn-branded.share-btn-send:hover,
.share-btn.share-btn-branded.share-btn-send:focus {
  border-color: #0099ff;
  border-color: #9e7c39;
}
.share-btn.share-btn-branded.share-btn-send:active {
  background: #9e7c39;
  border-color: #1689e0;
}






.share-btn.share-btn-branded.share-btn-twitter {
  background: #55acee;
  border-color: #3ea1ec;
}
.share-btn.share-btn-branded.share-btn-twitter:hover,
.share-btn.share-btn-branded.share-btn-twitter:focus {
  background: #3ea1ec;
  border-color: #2795e9;
}
.share-btn.share-btn-branded.share-btn-twitter:active {
  background: #2795e9;
  border-color: #1689e0;
}



.share-btn.share-btn-branded.share-btn-telegram {
  background: #55acee;
  border-color: #3ea1ec;
}
.share-btn.share-btn-branded.share-btn-telegram:hover,
.share-btn.share-btn-branded.share-btn-telegram:focus {
  background: #3ea1ec;
  border-color: #2795e9;
}
.share-btn.share-btn-branded.share-btn-telegram:active {
  background: #2795e9;
  border-color: #1689e0;
}



.share-btn-branded.share-btn-facebook {
  background: #3b5998;
  border-color: #344e86;
}
.share-btn-branded.share-btn-facebook:hover,
.share-btn-branded.share-btn-facebook:focus {
  background: #344e86;
  border-color: #2d4373;
}
.share-btn-branded.share-btn-facebook:active {
  background: #2d4373;
  border-color: #263961;
}
.share-btn.share-btn-branded.share-btn-googleplus {
  background: #dd4b39;
  color: #fff;
  border-color: #d73925;
}
.share-btn.share-btn-branded.share-btn-googleplus:hover,
.share-btn.share-btn-branded.share-btn-googleplus:focus {
  background: #d73925;
  border-color: #c23321;
}
.share-btn.share-btn-branded.share-btn-googleplus:active {
  background: #c23321;
  border-color: #ac2d1e;
}
.share-btn.share-btn-branded.share-btn-tumblr {
  background: #35465c;
  color: #fff;
  border-color: #2c3a4c;
}
.share-btn.share-btn-branded.share-btn-tumblr:hover,
.share-btn.share-btn-branded.share-btn-tumblr:focus {
  background: #2c3a4c;
  border-color: #222d3c;
}
.share-btn.share-btn-branded.share-btn-tumblr:active {
  background: #222d3c;
  border-color: #19212b;
}
.share-btn.share-btn-branded.share-btn-reddit {
  background: #ff4500;
  color: #fff;
  border-color: #e63e00;
}
.share-btn.share-btn-branded.share-btn-reddit:hover,
.share-btn.share-btn-branded.share-btn-reddit:focus {
  background: #e63e00;
  border-color: #cc3700;
}
.share-btn.share-btn-branded.share-btn-reddit:active {
  background: #cc3700;
  border-color: #b33000;
}
.share-btn.share-btn-branded.share-btn-linkedin {
  background: #0976b4;
  color: #fff;
  border-color: #08669c;
}
.share-btn.share-btn-branded.share-btn-linkedin:hover,
.share-btn.share-btn-branded.share-btn-linkedin:focus {
  background: #08669c;
  border-color: #075683;
}
.share-btn.share-btn-branded.share-btn-linkedin:active {
  background: #075683;
  border-color: #05466b;
}

.share-btn.share-btn-branded.share-btn-stumbleupon {
  background: #eb4924;
  color: #fff;
  border-color: #e13b15;
}
.share-btn.share-btn-branded.share-btn-stumbleupon:hover,
.share-btn.share-btn-branded.share-btn-stumbleupon:focus {
  background: #e13b15;
  border-color: #ca3412;
}
.share-btn.share-btn-branded.share-btn-stumbleupon:active {
  background: #ca3412;
  border-color: #b22e10;
}
.share-btn.share-btn-branded.share-btn-pinterest {
  background: #cc2127;
  color: #fff;
  border-color: #b61d23;
}
.share-btn.share-btn-branded.share-btn-pinterest:hover,
.share-btn.share-btn-branded.share-btn-pinterest:focus {
  background: #b61d23;
  border-color: #a01a1f;
}
.share-btn.share-btn-branded.share-btn-pinterest:active {
  background: #a01a1f;
  border-color: #8a161a;
}
.share-btn.share-btn-inverse {
  color: #eeeeee;
  background: #1f1f1f;
  border-color: #050505;
}
.share-btn.share-btn-inverse:hover,
.share-btn.share-btn-inverse:focus {
  background: #121212;
  border-color: #000000;
  color: #eeeeee;
}
.share-btn.share-btn-inverse:active {
  background: #050505;
  border-color: #000000;
  color: #eeeeee;
}
.share-btn.share-btn-telegram .share-btn-icon,
.share-btn.share-btn-twitter .share-btn-icon,
.share-btn.share-btn-googleplus .share-btn-icon,
.share-btn.share-btn-tumblr .share-btn-icon,
.share-btn.share-btn-linkedin .share-btn-icon,
.share-btn.share-btn-pinterest .share-btn-icon,
.share-btn.share-btn-stumbleupon .share-btn-icon,
.share-btn.share-btn-more .share-btn-icon {
  position: relative;
  top: 1px;
}
@-moz-document url-prefix() {
  .share-btn.share-btn-twitter .share-btn-icon,
  .share-btn.share-btn-googleplus .share-btn-icon,
  .share-btn.share-btn-tumblr .share-btn-icon,
  .share-btn.share-btn-linkedin .share-btn-icon,
  .share-btn.share-btn-pinterest .share-btn-icon,
  .share-btn.share-btn-stumbleupon .share-btn-icon,
  .share-btn.share-btn-more .share-btn-icon {
    top: 0;
  }
}
.share-btn.share-btn-more.share-btn-lg .share-btn-icon {
  top: 2px;
}
.share-btn .share-btn-text {
  padding-left: 2px;
}

.share-btn-c{background-color:inherit}