<div class="product-inner equal-element">
    <div class="product-top">
        <div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
        </div>
        <div class="yith-wcwl-add-to-wishlist">
            <div class="yith-wcwl-add-button">
                <a href="#">Add to Wishlist</a>
            </div>
        </div>
    </div>
    <div class="product-thumb">
        <div class="thumb-inner">
            <a ng-href="{{product.link}}" title="{{product.product_name}}">
                <img ng-src="/{{product.imageUrl}}" alt="img">
            </a>
        </div>

    </div>
    <div class="">
        <h5 class="product-name product_title">
            <a ng-href="{{product.link}}" title="{{product.product_name}}">{{product.product_name}}</a>
        </h5>
        <div class="group-info">
            <div class="stars-rating">
                <div class="star-rating">
                    <span class="star-3"></span>
                </div>
                <div class="count-star">
                    (3)
                </div>
            </div>
            <div class="price">
                <del>
                    €65
                </del>
                <ins>
                    €45
                </ins>
            </div>
        </div>
    </div>
    <div class="loop-form-add-to-cart">
        <form class="cart">
            <div class="single_variation_wrap">
                <div class="quantity">
                    <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1"
                               title="Qty" class="input-qty qty" size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                    </div>
                </div>
                <button class="single_add_to_cart_button button">Cho vào giỏ
                </button>
            </div>
            <div class="variations">
                <div class="variation">
                    <label class="variation-label">
                        Capacity:
                    </label>
                    <div class="variation-value">
                        <a href="#" class="change-value text over">
                            <span>10ml</span>
                        </a>
                        <a href="#" class="change-value text active">
                            <span>20ml</span>
                        </a>
                        <a href="#" class="change-value text">
                            <span>50ml</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
