/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2020
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.4.0.715
 * @date        2020-12-02
 */
/*! Copyright Weeblr llc @_YEAR_@ - Licence: http://www.gnu.org/copyleft/gpl.html GNU/GPL */
/* Shared definitions **************************************************************************************************/
@import 'shared.less';
/* Shared definitions **************************************************************************************************/

@wbtip-color: #bbbbbb;
@wbtip-color-visible: #327dcb;
@wbtip-background: none;
@wbtip-background-pre: #ABCEF3;

.wbtip-wrapper {
  display: block;
  border: none;
  color: @wbtip-color;
  background: @wbtip-background;
  font-size: 0.85em;
  margin: 0.25em 0 0.25em;
  padding: 0;
  max-width: 45em;
  a, a:visited {
    color: @wbtip-color;
  }
}

.wbTip:focus + .wbtip-wrapper,
.wbtip-wrapper:hover {
  color: @wbtip-color-visible;
  a {
    color: @wbtip-color-visible;
    text-decoration: underline;
  }
}

.wbtip-content {

  pre, .wbdanger, .wbwarning {
    font-size: 1em;
    display: inline-block;
    padding: 0 0.5em;
    margin: 0;
    border: none;
    border-radius: 0.25em;
  }
  pre {
    color: @wbtip-color;
  }

  .wbdanger {
    color: #FFFFFF;
    background: #BA657D;
    margin-right: 0.5em;
  }

  .wbwarning {
    color: #FFFFFF;
    background: #6e97cc;
    margin-right: 0.5em;
  }
}

.wbtip-wrapper:hover pre,
.wbTip:focus + .wbtip-wrapper pre {
  color: @wbtip-color-visible;
  background: @wbtip-background-pre;
}

// on/off button
.wbtip-switch {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  color: #555;
}

.wbtip-switch.wbtip-show {
  display: none;
}
