/* Maximenu CK mobile - http://www.joomlack.fr */
/* Automatic styles generated from the plugin options */

.mobilebarmaximenuck {display:none;position:relative;left:0;top:0;right:0;z-index:100;}
.mobilebarmaximenuck .mobilebarmenutitleck {display: block;background: #152D52;background-color: #152D52;font-size: 16px;color: #EEEEEE;text-indent: 20px;line-height: 45px;height: 45px;font-family: ;}
.mobilebarmaximenuck .mobilebuttonmaximenuck {cursor:pointer;box-sizing: border-box;position:absolute; top: 0; right: 0;line-height:0.8em;font-family:Segoe UI;text-align: center;margin-top: 8px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;background-image: url("https://gkconcept.vn/plugins/system/maximenuckmobile/presets/prototype/icon_launch.png");background-repeat: no-repeat;background-position: left center;height: 28px;width: 40px;font-family: ;}
.mobilemaximenuck {box-sizing: border-box;width: 100%;background: #152D52;background-color: #152D52;font-size: 15px;color: #FFFFFF;font-family: Arial;}
.mobilemaximenuck .mobilemaximenucktopbar {position:relative;}
.mobilemaximenuck .mobilemaximenucktitle {display: block;background: #175186;background-color: #175186;background: -moz-linear-gradient(top,  #175186 0%, #1A3A69 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#175186), color-stop(100%,#1A3A69)); background: -webkit-linear-gradient(top,  #175186 0%,#1A3A69 100%);background: -o-linear-gradient(top,  #175186 0%,#1A3A69 100%);background: -ms-linear-gradient(top,  #175186 0%,#1A3A69 100%);background: linear-gradient(top,  #175186 0%,#1A3A69 100%); border-bottom: #175186 1px solid ;font-size: 20px;text-indent: 20px;line-height: 45px;height: 45px;font-family: ;}
.mobilemaximenuck .mobilemaximenuckclose {cursor:pointer;box-sizing: border-box;position:absolute; top: 0; right: 0;line-height:0.8em;font-family:Segoe UI;text-align: center;margin-top: 5px;margin-right: 10px;margin-bottom: 5px;margin-left: 10px;background-image: url("https://gkconcept.vn/plugins/system/maximenuckmobile/presets/prototype/close.png");background-repeat: no-repeat;background-position: center center;height: 31px;width: 31px;font-family: ;}
.mobilemaximenuck a {display:block;color: #FFFFFF;}
.mobilemaximenuck a:hover {text-decoration: none;}
.mobilemaximenuck div.maximenuck {position:relative;}
.mobilemaximenuck div.level1.maximenuck > a {padding-left: 45px;margin-top: 2px;margin-right: 10px;margin-bottom: 2px;margin-left: 10px;background: #10223E;background-color: #10223E;-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;color: #FFFFFF;line-height: 35px;font-family: ;}.mobilemaximenuck div.level2.maximenuck > a {padding-left: 45px;margin-top: 2px;margin-right: 10px;margin-bottom: 2px;margin-left: 20px;background: #0080C0;background-color: #0080C0;-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;color: #FFFFFF;line-height: 35px;font-family: ;}.mobilemaximenuck div.level2.maximenuck + .mobilemaximenucksubmenu div.maximenuck > a {padding-left: 65px;background-image: url("https://gkconcept.vn/plugins/system/maximenuckmobile/presets/prototype/arrow_left.png");background-repeat: no-repeat;background-position: 45px center;color: #FFFFFF;line-height: 35px;font-family: ;}/* for accordion */
.mobilemaximenuck .mobilemaximenucktogglericon:after {cursor:pointer;text-align:center;margin-right: 30px;background-image: url("https://gkconcept.vn/plugins/system/maximenuckmobile/presets/prototype/plus.png");background-repeat: no-repeat;background-position: center center;height: 35px;width: 35px;font-family: ;}
.mobilemaximenuck .mobilemaximenucktogglericon:after {display:block;position: absolute;right: 0;top: 0;content:"";}
.mobilemaximenuck .open .mobilemaximenucktogglericon:after {content:"";}


/* Google Font stylesheets */



/* Custom CSS generated from the plugin options */

.mobilemaximenuck {
    text-shadow: 1px -1px 2px #000;
}

.mobilemaximenuck div span.descck {
    padding-left: 10px;
    font-size: 12px;
}

.mobilemaximenuck div.level4.maximenuck > a {
    padding-left: 85px;
}

.mobilemaximenuck div.level5.maximenuck > a {
    padding-left: 95px;
}

/* for accordeon */
.open .mobilemaximenucktogglericon:after {
	background-image: url(/plugins/system/maximenuckmobile/presets/prototype/minus.png);
}