|ID|.mobilemenuck div span.descck {
	padding-left: 10px;
	font-size: 12px;
}

|ID| .mobilemenuck-item {
	display: inline-block;
	margin: 15px;
	width: 145px;
	vertical-align: top;
}

|ID|.mobilemenuck {
	color: #fff;
	font-size: 12px;
	list-style: none;
	font-family: Verdana;
}

|ID|.mobilemenuck div.mobilemenuck-item > div > a {
	color: #fff !important;
	font-family: Verdana;
	display: block;
	padding: 0;
	text-decoration: none;
	text-align: center;
}

|ID|.mobilemenuck div.mobilemenuck-item > div:not(.mobilemenuck-submenu) {
	cursor: pointer;
	min-height: 35px;
	line-height: 35px;
	padding-left: 0px;
	padding: 8px;
	position: relative;
	border: 1px solid transparent;
}

|ID|.mobilemenuck div.mobilemenuck-item > div:not(.mobilemenuck-submenu):hover, |ID|.mobilemenuck div.mobilemenuck-item > div:not(.mobilemenuck-submenu):focus {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid #c2c2c2;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px inset;
}

|ID| .mobilemenuck-icon {
	max-width: 100px;
}

|ID| .mobilemenuck-item-text {
	display: block;
}