
/* mobile menu open buttons */
.dj-megamenu-select-custom634 .dj-mobile-open-btn,
.dj-megamenu-offcanvas-custom634 .dj-mobile-open-btn,
.dj-megamenu-accordion-custom634 .dj-mobile-open-btn {
	display: block;
	cursor: pointer;
    margin: 0 auto;
    width: 42px;
	height: 42px;
	font-size: 42px;
	line-height: 1;
	padding: 3px 5px;
	background: #434343;
	color: #e4e4e4;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.dj-megamenu-select-custom634 .dj-mobile-open-btn:focus,
.dj-megamenu-select-custom634:hover .dj-mobile-open-btn,
.dj-megamenu-offcanvas-custom634 .dj-mobile-open-btn:hover,
.dj-megamenu-offcanvas-custom634 .dj-mobile-open-btn:focus,
.dj-megamenu-accordion-custom634 .dj-mobile-open-btn:hover,
.dj-megamenu-accordion-custom634 .dj-mobile-open-btn:focus {
	background: #e4e4e4;
	color: #434343;
}

/* select menu general styles */
.dj-megamenu-select-custom634.select-input select {
	margin:10px;
	padding:5px;
	max-width:95%;
	height:auto;
	font-size:1.5em;
	color: #434343;
}
.dj-megamenu-select-custom634.select-input .dj-mobile-open-btn {
	display: none !important;
}
.dj-megamenu-select-custom634.select-button {
	position: relative;
	margin: 0 auto;
    width: 52px;
	overflow: hidden;
}
.dj-megamenu-select-custom634.select-button select {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
    border: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 100px;
    max-width: 100px;
    outline: none;
    text-indent: 100px;
    font-size:1.5em;
    color: #434343;
    box-shadow: none;
}

/* offcanvas menu general styles */
.dj-offcanvas-custom634 {
	background: #393939;
	color: #aeaeae;
}
.dj-offcanvas-custom634 .dj-offcanvas-top {
	background: #3e3e3e;
	text-align: right;
}
.dj-offcanvas-custom634 .dj-offcanvas-close-btn {
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	color: #f8f8f8;
	cursor: pointer;
	padding: 10px 12px;
}
.dj-offcanvas-custom634 .dj-offcanvas-logo {
	padding: 15px;
	text-align: center;
}
.dj-offcanvas-custom634 .dj-offcanvas-logo img {
	max-width: 100%;
}
.dj-offcanvas-custom634 .dj-offcanvas-content {
	padding: 0 15px 15px;
}
.dj-offcanvas-modules {
	padding: 15px;
}

/* accordion menu general styles */
.dj-megamenu-accordion-custom634 {
	position: relative;
}
.dj-megamenu-accordion-custom634.dj-align-left .dj-mobile-open-btn {
	margin: 0 auto 0 0;
}
.dj-megamenu-accordion-custom634.dj-align-right .dj-mobile-open-btn {
	margin: 0 0 0 auto;
}
.dj-pos-absolute .dj-accordion-custom634 {
	position: absolute;
	top: 42px;	
	z-index: 999;
}
.dj-pos-absolute.dj-align-left .dj-accordion-custom634 {
	left: 0;
} 
.dj-pos-absolute.dj-align-right .dj-accordion-custom634 {
	right: 0;
}
.dj-pos-absolute.dj-align-center .dj-accordion-custom634 {
	left: 50%;
	margin-left: -150px;
}
.dj-pos-absolute .dj-accordion-custom634 .dj-accordion-in {
	width: 300px;
}
.dj-accordion-custom634 .dj-accordion-in {
	display: none;
	margin: 10px 0;
	padding: 0 15px;
	background: #393939;
	color: #aeaeae;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* offcanvas and accordion menu */
ul.dj-mobile-custom634 {
	margin: 0 -15px;
	padding: 0;
	text-align: left;
}
ul.dj-mobile-custom634 li.dj-mobileitem {
	list-style: none outside;
	position: relative;
	margin: 0;
	padding: 0;
	background: none;
}
ul.dj-mobile-custom634 li.dj-mobileitem > a {
	display: block;
	font-size: 14px;
	line-height: 1;
	background: #393939;
    color: #f8f8f8;
    text-decoration: none;
    padding: 20px 15px;
    cursor: pointer;
    border-top: 1px solid #444444;
    -webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
ul.dj-mobile-custom634 li.dj-mobileitem:hover > a,
ul.dj-mobile-custom634 li.dj-mobileitem.active > a {
	background: #333333;
    color: #ffffff;
}

ul.dj-mobile-custom634 li.dj-mobileitem > a .subtitle {
	font-size: 0.85em;
	color: #888888;
}
ul.dj-mobile-custom634 li.dj-mobileitem:hover > a .subtitle,
ul.dj-mobile-custom634 li.dj-mobileitem.active > a .subtitle {
	color: #aaaaaa;
}

ul.dj-mobile-custom634 li.dj-mobileitem > a img,
ul.dj-mobile-custom634 li.dj-mobileitem > a i {
	vertical-align: middle;
	margin: 0 10px 0 0;
}
ul.dj-mobile-custom634 li.dj-mobileitem > a.withsubtitle img,
ul.dj-mobile-custom634 li.dj-mobileitem > a.withsubtitle i {
	float: left;
}
ul.dj-mobile-custom634 li.dj-mobileitem > a span.image-title {
}

ul.dj-mobile-custom634 li.dj-mobileitem.parent > a {
	padding-right: 35px;
}
ul.dj-mobile-custom634 li.dj-mobileitem.parent > a span.toggler {
	display: inline-block;
    font-family: FontAwesome;
	position: absolute;
	right: 0;
	top: 5px;
	padding: 16px 20px; /* make the button a little bigger */
	font-size: 12px;
	line-height: 14px;
	font-style: normal;
	font-weight: normal;
}
ul.dj-mobile-custom634 li.dj-mobileitem.parent > a span.toggler:before {
	content: "";
}
ul.dj-mobile-custom634 li.dj-mobileitem.parent.active > a span.toggler:before {
	content: "";
}

ul.dj-mobile-custom634 li.dj-mobileitem > ul {
	display: block;
	max-height: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul.dj-mobile-custom634 li.dj-mobileitem.active > ul {
	max-height: 1000px;
	-webkit-transition: max-height 0.3s ease-in;
	transition: max-height 0.3s ease-in;
}

/* 2nd level */
ul.dj-mobile-custom634 ul li.dj-mobileitem > a {
	background: #333333;
    color: #aeaeae;
    border-top: 1px solid #3d3d3d;
    padding-left: 30px;
}
ul.dj-mobile-custom634 ul li.dj-mobileitem:hover > a,
ul.dj-mobile-custom634 ul li.dj-mobileitem.active > a {
	background: #2e2e2e;
    color: #e4e4e4;
}

ul.dj-mobile-custom634 ul li.dj-mobileitem > a .subtitle {
	color: #666666;
}
ul.dj-mobile-custom634 ul li.dj-mobileitem:hover > a .subtitle,
ul.dj-mobile-custom634 ul li.dj-mobileitem.active > a .subtitle {
	color: #888888;
}

ul.dj-mobile-custom634 ul li.dj-mobileitem.parent > a span.toggler {
	font-size: 11px;
}
/* 3rd level */
ul.dj-mobile-custom634 ul ul li.dj-mobileitem > a {
    background: #2d2d2d;
    border-top: 1px solid #363636;
    padding-left: 45px;
}
ul.dj-mobile-custom634 ul ul li.dj-mobileitem:hover > a,
ul.dj-mobile-custom634 ul ul li.dj-mobileitem.active > a {
	background: #292929;
}
/* 4th level */
ul.dj-mobile-custom634 ul ul ul li.dj-mobileitem > a {
    background: #282828;
    border-top: 1px solid #303030;
    padding-left: 60px;
}
ul.dj-mobile-custom634 ul ul ul li.dj-mobileitem:hover > a,
ul.dj-mobile-custom634 ul ul ul li.dj-mobileitem.active > a {
	background: #242424;
}
/* 5th level */
ul.dj-mobile-custom634 ul ul ul ul li.dj-mobileitem > a {
	background: #242424;
}

/* mobile modules */
ul.dj-mobile-custom634 .modules-wrap {
	padding: 5px 15px;
}
